.footer {
  background: linear-gradient(to bottom, #FB8627 0%, #F5BEF6 100%);
  padding: 20px 40px;
  margin-top: auto;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 20px;
    flex-direction: column;
    gap: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  height: 124px;
  width: 103px;
  display: block;

  @media (max-width: 768px) {
    height: 32px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 20px;
    letter-spacing: 1px;
  }
}