.footer {
  background: linear-gradient(to bottom, #FB8627 0%, #F5BEF6 100%);
  height: 248px;
  padding: 40px;
  margin-top: auto;
  position: relative;

  @media (max-width: 1024px) {
    padding: 32px;
  }

  @media (max-width: 768px) {
    padding: 24px 16px;
    height: 341px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 20px;
    flex-direction: column;
    gap: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 1;
}

.logoImage {
  height: 124px;
  width: 103px;
  display: block;


  @media (max-width: 768px) {
    height: 144px;
    width: 120px;
    margin: 0 auto;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;

  @media (max-width: 768px) {
    font-size: 20px;
    letter-spacing: 1px;

    position: static;
    transform: none;
    margin-top: 20px;
  }
}